.pic {
  width: 220px;
  height: 220px;
  margin: 20px auto;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.pic-my {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 20px auto;
  overflow: hidden;
  background: linear-gradient(#4f6fe6, #9ecbff);
}


/* Трава */
.pic-my::before {
    content: '';
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #00c000;
  clip-path: polygon(
    0% 100%, 5% 70%, 10% 100%, 15% 70%, 20% 100%,
    25% 70%, 30% 100%, 35% 70%, 40% 100%,
    45% 70%, 50% 100%, 55% 70%, 60% 100%,
    65% 70%, 70% 100%, 75% 70%, 80% 100%,
    85% 70%, 90% 100%, 95% 70%, 100% 100%
    );
}

/* Большой гриб */
.big-mushroom-cap {
  position: absolute;
  bottom: 50px;
  left: 60px;
  width: 90px;
  height: 55px;
  background: radial-gradient(circle at 30% 30%, #cfa8a8, #7a3b3b);
  border-radius: 50% 50% 10% 10%;
}

.big-mushroom-stem {
  position: absolute;
  bottom: 30px;
  left: 95px;
  width: 20px;
  height: 40px;
  background: #f5deb3;
  border-radius: 10px;
}


/* Маленький гриб */
.small-mushroom-cap {
  position: absolute;
  bottom: 45px;
  left: 130px;
  width: 60px;
  height: 35px;
  background: radial-gradient(circle at 30% 30%, #dcb0b0, #8b4a4a);
  border-radius: 50% 50% 10% 10%;
}

.small-mushroom-stem {
  position: absolute;
  bottom: 30px;
  left: 150px;
  width: 14px;
  height: 30px;
  background: #f5deb3;
  border-radius: 8px;
}


/* Пчёлка */
.bee-body {
  position: absolute;
  top: 50px;
  left: 130px;
  width: 35px;
  height: 20px;
  background: repeating-linear-gradient(
    90deg,
    yellow 0 6px,
    black 6px 10px
  );
  border-radius: 50%;
}


/* Крылья пчелы */
.bee-wing-left,
.bee-wing-right {
  position: absolute;
  width: 18px;
  height: 12px;
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  top: -6px;
}

.bee-wing-left {
  left: -10px;
  transform: rotate(-25deg);
}

.bee-wing-right {
  left: 18px;
  transform: rotate(25deg);
}


.bee-body::after {
  content: '';
  position: absolute;
  right: 4px;
  top: 7px;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

